.title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.desc {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}
