* {
  font-family: "Work Sans", "Space Mono";
}
body {
  background-color: #2b2b2b;
}
ul {
  list-style-type: none;
}

/* BUTTONS */
.button-secondary {
  height: 60px;
  width: 225px;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}

/* HERO COMPONENT */
.hero-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  color: #ffffff;
  margin: 0 0 10px 0;
}
.hero-desc {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #ffffff;
  margin: 10px 0 40px 0;
}
.hero-stats-list {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-align: left;
  margin: 40px 0 0 0;
  padding: 0px;
}
.hero-stats-num {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}
.hero-stats-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
}
